body {
  background-color: white;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.onlineusers {
  margin-top: 10px;
  margin-bottom: 10px;
}

.onlineusers-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* ユーザーを左端から配置する */
}

.onlineuser {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onlineuser-name {
  font-size: 12px;
}
