.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formSection p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.buttonSection {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

.errorMessage {
  color: red;
}