body {
  background-color: white;
}

.dm-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .recipient-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-info {
    font-size: 14px;
    align-items: center;
    margin-left: 30px;
  }

  .block-button {
    margin-top: 20px;
    font-size: 10px;
    padding: 5px 5px; /*ボタンの内側の余白を調整 */
    width: 80px;
  }

  .invite-button {
    margin-top: 10px;
    font-size: 10px;
    padding: 5px 5px; /*ボタンの内側の余白を調整 */
    width: 80px;
  }

  .dm-input {
    margin-top: 20px;
    align-self: flex-end;
  }
  
  .dm-messages {
    display: flex;
    flex-direction: column;
  }
  
  .message-bubble {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    max-width: 40%;
  }
  
  .message-bubble.self {
    align-self: flex-end;
    background-color: #e2f8ff; /* 自分のメッセージの背景色 */
  }
  
  .message-bubble.other {
    align-self: flex-start;
    background-color: #f0f0f0; /* 相手のメッセージの背景色 */
  }
  
  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .timestamp {
    font-size: 10px;
    color: #888;
  }
